<div class="container-fluid">
  <div class="row">
    <!-- filter sidebar -->
    <div id="filter-sidebar" class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">
      <div>
        <h4 data-toggle="collapse" data-target="#group-3">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Tags
        </h4>
        <div id="group-3" class="list-group collapse in">
          <label class="list-group-item">
            <input type="checkbox">
            John Lennon
          </label>
          <label class="list-group-item">
            <input type="checkbox">
            John Lennon
          </label>
        </div>
      </div>
    </div><!-- #filter-sidebar -->
    <section id="main" class="col-xs-12 col-sm-9">

      <nav class="navbar navbar-default">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="terms" placeholder="Procurar">
            <select name="status" ng-model="status" class="form-control" id="">
              <option value="">Todos</option>
              <option value="true">Em Atividade</option>
            </select>
          </div>
        </form>
      </nav>

      <div ng-repeat="item in podcasts | orderBy:'name' | filter:{ name: terms, status: status}">
        <a href="#/podcast/{{item.name|slugify}}" class="media">
          <div class="media-left">
            <img class="media-object" src="http://www.dummyimage.com/100x100/444/ccc.jpg" alt="{{item.name}}">
          </div>
          <div class="media-body">
            <h3 class="media-heading">{{item.name}}</h3>
            <p ng-bind="(item.description | limitTo: 100)+'...'"></p>
          </div>
        </a>
        <hr>
      </div>
    </section>
  </div>
</div>
