<div class="container">
  <div class="row">
    <section id="main" class="col-xs-12 col-sm-12">

        <form class="filter-bar container-fluid" role="search">
          <div class="row">
            <div class="form-group col-sm-6">
              <input type="text" class="form-control input-lg col-lg-6" ng-model="terms" placeholder="Filtrar">
            </div>
            <div class="form-group col-xs-6 col-sm-3">
              <select class="form-control input-lg" ng-model="status">
                <option value="">Status</option>
                <option value="true">Ativo</option>
                <option value="false">Desativado</option>
              </select>
            </div>
            <div class="form-group col-xs-6 col-sm-3">
              <select class="form-control input-lg" ng-model="language">
                <option value="">Idioma</option>
                <option value="pt_br">PT BR</option>
                <option value="en">EN</option>
              </select>
            </div>
          </div>
        </form>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-4" ng-repeat="item in podcast_list = (podcasts | orderBy:'name' | filter:{ name: terms, status: status, language: language}:strict)">
            <a href="#/podcast/{{item.name|slugify}}" class="item-list media">
              <div class="media-left media-middle">
                <img class="media-object" ng-src="https://avatars.io/twitter/{{item.twitter_at}}/large" width="128" height="128" alt="{{item.name}}">
              </div>
              <div class="media-body">
                <h4 class="media-heading"> <i class="fa" ng-class="{ 'fa-circle' : item.status, 'fa-circle-o' : !item.status}" aria-hidden="true"></i> {{item.name}}</h4>
                  <span ng-if="item.itunes_link"><i class="fa fa-apple"></i></span>
                  <span ng-if="item.youtube_link"><i class="fa fa-youtube-play"></i></span>
                  <span ng-if="item.soundclound_link"><i class="fa fa-soundcloud"></i></span>
                  <span ng-if="item.rss_link"><i class="fa fa-rss"></i></span>
                  <span ng-if="item.website_link"><i class="fa fa-link"></i></span>
                  <p ng-bind="(item.description | limitTo: 80)+'...'"></p>
              </div>
            </a>
          </div>
          <p ng-hide="podcast_list.length" class="col-lg-12">Nenhum resultado :(</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
